mat-form-field {
    padding: 10px;
    width: 40vw;
}

button {
    padding: 10px;
    margin: 10px;
}

.oneLine {
    display: flex;
    flex-wrap: nowrap;
}

#tableSpinner{
    width: 30px;
    height: 30px;
    margin-top: 12px;
}


#add_fab {
    display: flex;
    justify-content: flex-end;
}

#addIcon{
    padding: 5px;
}
